body {
  background-color: #37474f;
  text-align: center;
}

#navbar {
  background-color: #cfd8dc;
}

.error {
  color: darkRed;
}

.input {
  color: #cfd8dc;
}

.upp {
  font-weight: bolder;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
     position: relative;
     opacity: 1 !important;
}

#footer{
position: fixed;
bottom: 0;
width: 100%;
z-index: 1000;
}

.padded-bottom{
padding-bottom: 7em;
}