:root {
  --darkGreen: #a3a380;
  --lightGreen: #d6ce93;
  --offWhite: #efebce;
  --lightPink: #d8a48f;
  --purple: #bb8588;
}

body {
  background-color: var(--lightGreen);
  color: var(--purple);
  text-align: center;
}

#navbar {
  background-color: var(--darkGreen);
  color: var(--lightPink);
}

.error {
  color: darkRed;
}

.row {
  margin-left: auto;
  margin-right: auto;
}